<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>监控图表</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="css/base.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
<script id="count-template" type="text/template">
   <div class="count up">
     <span class="current top <%= currentSize %>"><%= time %></span>
     <span class="next top <%= nextSize %>"><%= nextTime %></span>
     <span class="current bottom <%= currentSize %>"><%= time %></span>
     <span class="next bottom <%= nextSize %>"><%= nextTime %></span>
   </div>
</script>
</head>
<body>
<section id="charts" class="clearfix">
  <div class="left fl">
    <div class="left-top">
      <div class="inner-left fl">
        <div class="total">
          <em class="title"><dfn>10.2</dfn>总成交金额</em>
          <em class="datenow">12:01:06</em>
        </div>
        <div class="totalnum">
          <dfn>¥</dfn>
          <div class="htmleaf-content bgcolor-8" id="count">
              <div class="count up changing">
                 <span class="current top ">1</span>
                 <span class="next top ">8</span>
                 <span class="current bottom ">1</span>
                 <span class="next bottom ">8</span>
               </div>
              
               <div class="count up changing">
                 <span class="current top ">2</span>
                 <span class="next top ">5</span>
                 <span class="current bottom ">2</span>
                 <span class="next bottom ">5</span>
               </div>
              
               <div class="count up changing">
                 <span class="current top ">3</span>
                 <span class="next top ">2</span>
                 <span class="current bottom ">3</span>
                 <span class="next bottom ">2</span>
               </div>
              
               <div class="count up changing">
                 <span class="current top ">4</span>
                 <span class="next top ">7</span>
                 <span class="current bottom ">4</span>
                 <span class="next bottom ">7</span>
               </div>
              
               <div class="count up changing">
                 <span class="current top ">5</span>
                 <span class="next top ">4</span>
                 <span class="current bottom ">5</span>
                 <span class="next bottom ">4</span>
               </div>
              
               <div class="count up changing">
                 <span class="current top ">6</span>
                 <span class="next top ">1</span>
                 <span class="current bottom ">6</span>
                 <span class="next bottom ">1</span>
               </div>
              
               <div class="count up changing">
                 <span class="current top ">7</span>
                 <span class="next top ">9</span>
                 <span class="current bottom ">7</span>
                 <span class="next bottom ">9</span>
               </div>
              
               <div class="count up changing">
                 <span class="current top ">8</span>
                 <span class="next top ">6</span>
                 <span class="current bottom ">8</span>
                 <span class="next bottom ">6</span>
               </div>
              
               <div class="count up changing">
                 <span class="current top ">9</span>
                 <span class="next top ">3</span>
                 <span class="current bottom ">9</span>
                 <span class="next bottom ">3</span>
               </div>
          </div>
        </div>
        <div class="info">
          <p>通知消息：截至中午12点销售额突破1000万！</p>
        </div>
      </div>
      <div class="inner-right fr">
        <div class="lastmintotal">
          <p>上一分钟成交金额</p>
          <div class="totalstring">
            <dfn>¥</dfn>
            <span>163,009</span>
          </div>
        </div>
        <div class="totallist fl">
          <p>总成交单量</p>
          <span>233,790</span>
        </div>
        <div class="totalticket fr">
          <p>总成交票量</p>
          <span>233,790</span>
        </div>
      </div>
    </div>
    <div class="left-bottom">
      <div class="linepic" id="main" style="height:382px"></div>
    </div>
  </div>

  <div class="right fr">
    <div class="pie">
      <div id="pie" style="height:300px;"></div>
    </div>
    <div class="hotmap">
      <div id="hotmap" style="height: 311px; width:243px;"></div>
    </div>
  </div>
</section>
</body>
<script src="js/echarts-all.js"></script>
<script src="js/dark.js"></script>
<script src='js/underscore-1.5.2-min.js'></script>
<script src='js/jquery-1.11.3.js'></script>
<script src="js/index.js"></script>


</html>
